<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">E-mail</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(list => { %>
                <tr>
                  <th scope="row"><%= list.id %></th>
                  <td><%= list.username %></td>
                  <td><%= list.password %></td>
                  <td><%= list.UserBiodata.fullName %></td>
                  <td><%= list.UserBiodata.address %></td>
                  <td><%= list.UserBiodata.email %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
